* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black; }

.card {
  width: 150px;
  height: 200px;
  background-color: white;
  border-radius: 0px;
  transform: rotate(10deg) skew(-10deg, -5deg);
  transition: box-shadow .25s ease-in;
  display: inline; }
  .card:hover {
    box-shadow: rgba(218, 18, 18, 0.5) 5px 3px, rgba(255, 212, 212, 0.4) 10px 6px, rgba(245, 0, 0, 0.3) 15px 20px; }
  .card .servis {
    color: white;
    text-align: center; }
  .card img {
    width: 200px; }

.font__arial {
  font-family: arial;
  color: green; }

.font__cambria {
  font-family: cambria;
  color: blue; }

.font__georgia {
  font-family: georgia;
  color: red; }

header h1 {
  text-align: center;
  color: blue; }

.nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center; }

.btn, .btn-enviar, .btn-cancelar {
  border: 2px black;
  background-color: #c21c1c;
  border-radius: 4px;
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  color: white; }

.btn-enviar {
  background-color: black; }

.btn-cancelar {
  background-color: green; }

.seguinos {
  width: 250px;
  height: 300px;
  border: solid 2px black;
  display: flex;
  justify-content: center;
  align-items: center; }
